<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

<%= link_to 'Download User Details', download_users_path(format: :pdf, id: @user.id), class: 'btn btn-primary' %>



  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
